<% provide(:title, "yeahlogとは？") %>
<div id="fh5co-about">
  <div class="container">
    <div class="row">
      <div class="col-md-10">
        <h1 class="title-about">yeahlogとは？</h1>
        <h4> 賃貸物件の情報を記録し、共有できるサービスです。</h4>
      </div>
      <div class="col-md-10">
        <h2 class="title-use">主な使い方</h2>
        <div>
          <ol class="main-use">
            <li class="A">あなたのお部屋探しを成功させるためにyeahlogを活用しましょう</li>
            <li class="B">オーナーや不動産会社へ伝えづらい入居者の生の声を届けるために</li>
          </ol>
        </div>
        <p class="about-line"></p>
        <ol class="main-use">
          <li class="A">あなたのお部屋探しを成功させるためにyeahlogを活用しましょう</li>
        <div class="use-content">
          <p> 時間も費用もかかるお引っ越しだからこそ、お部屋探しは慎重に。</p>
          <p> 入居者しか知らない物件の情報が共有されています。</p>
          <p> 住みたいお部屋を物件名で検索し、物件情報を確認してみましょう。</p>
          <p> 入居者に直接質問してみたり、気になる物件はお気に入りに登録できます。</p>
        </div>
        <%# <ol class="how-to-use">
          <li>物件を写真や説明文と合わせて追加</li>
          <div class="use-explanation">
            <div class="row">
              <div class="col-md-4">
              </div>
            </div>
          </div>
        </ol> %>
      </div>

</div>
