<% provide(:title, "物件登録") %>
<div id="fh5co-portfolio">
  <div class="container">
    <h1>物件登録</h1>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <%=render 'properties/property_form' %>
      </div>
    </div>
  </div>
</div>